<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/addMovie.css">
    <style>
        .disable {
            opacity: .5;
        }
        .fa-ban {
            font-size: 3em;
            color: rgba(255, 255, 255, 0.486);
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
        }
        .fa-ban:hover {
            color: white;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <%- include('partials/navbar') %> 

    <section>
        <form id="form" method="post" action="/movies/<%= data.id %>/edit?_method=PATCH">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your Movie name" value="<%= data.name %>">
            <label for="country">Where is it from?</label>
            <input type="text" id="country" name="country" placeholder="country" value="<%= data.country %>">
            <label for="year">When was it created?</label>
            <input type="text" id="year" name="year" placeholder="year" value="<%= data.year %>">
            <label for="image">Image</label>
            <input class="disable" type="url" id="image" name="img" placeholder="imgUrl" value="<%= data.img %>" disabled>
            <label for="image">Trailer</label>
            <input class="disable" type="url" id="image" name="trailer" placeholder="videoUrl" value="<%=data.trailer%>" disabled>
            <textarea name="details" cols="30" rows="10" >
                <%= data.details %> 
            </textarea>
            <button>Add</button>
        </form>

        <form method="post" action="/movies/<%= data.id %>?_method=DELETE">
            <button><i class="fa-solid fa-ban"></i></button>
        </form>
    </section>

    <!-- js codes -->
    <%- include('partials/js') %> 
</body>
</html>